/* main section */
#main {
    margin-top:100px;
    padding:20px 0;
}
#content {
    overflow: hidden;
    padding:1%;
}
#content #left, #content #right {
    border: 2px solid #E9E9E9;
    float: left;
    margin: 0 8%;
    width: 83%;
}
#content h2{
	background:black;
	padding:1%;
}
#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content #left ul li {
    float:left;
    padding-bottom: 21px;
    width: 25%;
    background-color:#717085;
        border: 2px solid black;
}
/*#content #left ul li:hover {
    color:black !important;
    background-color: #b1ff1a;
*/
}

#content #left ul li .img {
    text-align: center;
}

#content #left ul li .img img {
    margin-top: 29px;
    height:250px;
    width:200px;
}

#content #left ul li .info {
    padding: 17px 20px 0 19px;
}
#content #left ul li .info h3{
	color:black;
}
#content #left ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #left ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}

#content #left ul li .info .price .st {
    color: #004080;
    font-size: 15px;
    line-height: 16px;
    margin-right: 3px;
}


#content #left ul li .info .actions {
    overflow:hidden;
}
#content #left ul li .info .actions a button {
	width: 260px;
	height:45px;
	background: #003366;
	color:white;
	border: none;
	font-size:16x;
}