body{
	display: grid;
 	font-family:Tahoma;
	color:Black;
	 background: url(xbox.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/*header{
	background:#0d0d0d;
	opacity: 0;
	text-align:center;
	font-size:55px;
	font-family:Bahnschrift;
	 text-shadow: 2px 2px 5px #b3e0ff;
	color: #ffffff;
	height:150px;
	padding:3px;
}*/
 h1{
	margin:10px;
}
nav{
	font-size:20px;
	text-align:right;
	/*background-color: #001a33;
	opacity: 0;*/
	padding:30;

}
nav i{
	color:White;
	
}
nav a{
	text-decoration:none;
	padding:10px;
	color:white;
}

nav a:hover{
	color:black !important;
	background-color: #b1ff1a;
	
}
input[type=submit]{
    background-color:#003366;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align:left;

}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
	font-size:75px;
	font-family:Bahnschrift;
	 text-shadow: 5px 5px 5px #b1ff1a; 
	color: #717085;
	
	margin:10px;

}

select{
	font-family: Tahoma;
	font-size: 20px;
	width:200px;
}
.selection1{
	float:left;
	padding:10px 10px;
	color:white;
}
.welcometext{
	font-size:50px;
	color:white;
	font-style:italic;
}
.browsebutton button{
	background-color:#717085;
    border-radius:  20px;
    color: #b1ff1a;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    align:left;
    margin-top: 410px;
}
.browsebutton button:hover{
	background-color:#b1ff1a;
	color:  #717085;
}
th{
	font-size:15px;
}
h3{
	color:#b1ff1a;
}
	
	